body{
  font-family: 'Roboto', sans-serif;
}

.ant-layout{
  min-height: 100vh;
}

/* header, :where(.css-dev-only-do-not-override-1me4733).ant-layout.ant-layout-footer {
  flex: 0 0 auto;
  height: 68px;
} */

.ant-layout-header h5 {
  line-height: 30px;
  font-size: 14px;
}

.ant-layout-header p{
  line-height: 20px;
  font-size: 13px;
}

.heading {
  background-color: azure;
  height: 62px;
}

.trigger{
  margin-top: 20px;
  font-size: 25px ;
}


.profile_pic{
  width: 60px;
  height: 60px;
}  

.badg{
  font-size: 22px;
  margin-right: 4px;
}

.badg-a{
  font-size: 12px;
  margin-right: 5px;
  top: 12px;

}

.sm-logo{
  display: none;
}

.ant-layout-sider-collapsed .sm-logo{
  display: block;
}
.ant-layout-sider-collapsed .lg-logo{
  display: none;
}


.logo{
  background-color: #e6dfa9;
  margin: 0%;
  align-items:center ;
  justify-content: center;
  height: 62px;
  }
